.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
    
}

.image{
    width: 50%;
    border-radius: 20px;
}

.home-heading{
    font-family: "Roboto";
    font-weight: bold;
    margin-top:10px;
    font-size: 36px;
    color: #49484a;
    text-align: center;
    font-style: italic;
    text-shadow: grey;
}

@media screen and (min-width:768px) {
    .home-heading{
        font-size: 46px;
        text-align: left;
        text-shadow: grey;
        margin-top:10px;
    }
}

.home-description{
    font-family: "Roboto";
    margin: 20px;
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0;
    text-align: center;
}
@media screen and (min-width:768px){
    .home-description{
        font-size: 18px;
        margin: 20px;
        text-align: left;
    }
}

.order-now-btn{
    width: 30%;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
    color: white;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: blue;
    margin-top: 20px;
}
@media screen and (min-width:768px) {
    .order-now-btn{
        width: 150px;
        font-size: 16px;
    }
}
